.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-preview {
  max-height: 600px;
  max-width: 600px;
}

.indiv-photo img{
  position: relative;
  display: inline-block;
  margin: 0 40px 0 0;
  max-height: 300px;
  max-width: 300px;
}

.indiv-photo {
  display: inline-block;
}

.photo-list {
  text-align: justify;
  margin:5px;
  border:1px solid #ccc;
  float: left;
  width: 300px;
  display: inline-block;
}

.photo-list:hover {
  border: 1px solid #777;
}

.caption {
  padding: 15px;
  text-align: left;
  display: inline-flex;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #98a1a5;
  color: white;
  margin-bottom: 10px
}
