.App {
  text-align: center;
  /*display: grid;
  grid-template-columns: repeat(4, 1fr);*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-preview {
  max-height: 600px;
  max-width: 600px;
}

.indiv-photo img{
  /*position: relative;
  display: inline-block;
  margin: 0 40px 0 0;*/
  height: 300px;
  width: 300px;
  padding:5px;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: justify;
  margin:5px;
  float: center;
  margin-left:45px;
  width: 300px;
  margin-top:30px;
  /*display: inline-block;
  position: relative;*/
}

.indiv-photo:hover {
  border: 1px solid white;
}

.caption {
  position:relative;
  margin-left:5px;
  font-size: 12px;
  font-family: "Helvetica", Times;

}

.description {
  font-size:12px;
}

.logo {
  height: 50px;
  float: left;
  width: 50px;
}

.meta {
  font-size: 11px;
  float: right;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  background-color: #98a1a5;
  color: white;
  margin-bottom: 10px
}

.home-button {
  grid-column:1/2;
}

.profile-button {
  grid-column: 19;
}

.explore-button {
  grid-column: 18;
}

.upload-button {
  grid-column: 17;
}

.logout-button {
  grid-column: 20;
}

.login-button {
  grid-column: 20;
}

.signup-button {
  grid-column:19;
}

.nav-bar-button {
  display: flex;
  border: 1px solid #bbb;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Header";
  background-color: #dae1ed;
  margin-left: 1px;
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.photo-detail img{
  max-height: 700px;
  max-width: 700px;
}

.detail-caption {
  font-size: 14px;
  text-align:left;
  margin-left: 335px;
}

.photo-username {
  font-size: 12px;
  text-align:left;
  margin-left: 335px;
}

.content {
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
}

.search-box {
  float:right;
  margin-right: 113px;
}

.form input{
  border-color: #e0e0e0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	border-width: 1px;
	border-style: solid;
	color: #474e57;
	font-size: 12px;
	font-weight: 400;
	padding: 10px;
}

.comment-input {
  float:left;
  margin-left:335px;
  width:300px;
}

.like-count {
  float:left;
  margin-left: 335px;
  font-size: 11px;
}
